[submodule "projects/visibility"]
	path = projects/visibility
	url = https://github.com/mjArcher/visibility
[submodule "projects/flag"]
	path = projects/flag
	url = https://github.com/mjArcher/flag
[submodule "projects/delaunay-js"]
	path = projects/delaunay-js
	url = https://github.com/mjArcher/delaunay-js
